{% extends "WebApp/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="content-section">

    <div class="media">
    
        <p><img class="rounded-circle account-img" src="{{student.photo.url}}"></p>
        
        <div class="media-body">
        
            <h2 class="account-heading">{{student.user.username}}</h2>
            
            <p class="text-secondary">{{student.user}}</p>
            
            <p class="text-secondary">{{student.user.email}}</p>
        
        </div>
    
    </div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}  
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Student IT Services - Profile Detail</legend>
          {% csrf_token %}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile Info</legend>
            {{ u_form|crispy }}
            {{ p_form|crispy }}
            </fieldset>
            <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
        </fieldset>
      </form> 
</div>

{% endblock content %}